{% block head %}
<!DOCTYPE html>
<html lang="en">
<!--Random-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maison du code: Apprennez a developper le future</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="/static/assets/js/ie-emulation-modes-warning.js"></script>

    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/theme.css" rel="stylesheet">
    <link href="/static/css/publication.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Maison du code</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Principal</a></li>
                <li><a href="/topics">Topics</a></li>
                <li><a href="/groups">Groups</a></li>
              </ul>
            {% if logged %}
          <form class="navbar-form navbar-right" action="/logout">
          <a href="/profile"> {{ message }} </a>
           <button type="submit" class="btn btn-danger">Sortir</button>
         </form>
           {% else %}
            <form class="navbar-form navbar-right" action="/login" method="POST">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" name="Email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" name="Password">
            </div>

            <button type="submit" class="btn btn-success">Enter</button></form>

            <form class="navbar-form navbar-right" action="/signin">
            <button type="submit" class="btn btn-success">Sign Up</button>
            </form>
            {% endif %}
            </div>
          </div>
        </div>
 {% endblock %}
 {% block content%}{% endblock %}
 {% block footer %}
 <div class="container">
 <footer>
   <p class="pull-right"><a href="#">Back to top</a></p>
   <p>&copy; 2016 Maison du Code, Inc. &middot; <a href="/about">About</a></p>
 </footer>
</div>

 <!-- Bootstrap core JavaScript
 ================================================== -->
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
 <script src="/static/dist/js/bootstrap.min.js"></script>
 <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
 <script src="/static/assets/js/vendor/holder.min.js"></script>
 <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 <script src="/static/assets/js/ie10-viewport-bug-workaround.js"></script>
 <script type="text/javascript" src="/static/js/useangular.js"></script>
 {% block script %}{% endblock %}
</body>
</html>
   {% endblock %}
